@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #93a87e;
  color: #93a87e;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1200px;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

img {
  width: 30px;
}

.box {
  background: pink;
  justify-content: center;
}

.place {
  width: 163px !important;
  height: 218px;
  object-fit: cover;
}

.group {
  display: flex;
  margin: 20px 80px;
}

.gmap {
  color: 918e9B;
}

p,
span {
  color: #2b293b;
  font-weight: 500;
  font-size: 14px;
}

.destination {
  display: flex;
}

.title {
  font-size: 30px;
  color: #2b293b;
  font-weight: 700;
}

.date {
  font-weight: 700;
}

a {
  color: #918e9b;
  font-size: 14px;
}

footer {
  color: #b2afb9;
  font-size: 12px;
  margin-top: 20px;
}
